<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITEducator Details</title>
</head>
<body>
    <h2>ITEducator Details</h2>
    <h2>ITEducator Details</h2>
    <table border="1">
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ student.ism }}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{ student.familya }}</td>
        </tr>
        <tr>
            <td>Middle Name</td>
            <td>{{ student.sharif }}</td>
        </tr>
        <tr>
            <td>Issued Date</td>
            <td>{{ student.berilgan_vaqt }}</td>
        </tr>
        <tr>
            <td>Overall Performance</td>
            <td>{{ student.pptx_file }}</td>
        </tr>
        <tr>


</body>
</html>
